<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("css.ejs") %>

    <title>NOBEL PRIZE SIENCE</title>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>

<section class="section main">
    <div class="container">
        <div class="row" style="margin-top: -40px;">
            <article class="content col-md-12">
                    <div><img src="../image/AlfredNobelstory.jpg"/></div>
            </article>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <hr/>

                <h1 style="color: #CEA152;"> About Group1-T2203E</h1>
                <hr/>


                <div class="col-md-3 columabout " >
                    <h3> Ưng Sỹ Mùi</h3>
                    <h4>Group 1</h4>
                    <h4>T2203E</h4>
                    <h4>FPT-Aptech</h4>
                    <h4>MuiUSTH2203003@fpt.edu.vn</h4>
                    <img style="height: 195px;border: 1px solid #333333; border-radius: 10px" src="../image/ungsimui.jpg"/>
                </div>

                <div class="col-md-3 columabout " >
                    <h3>Chổ Ngọc Toàn</h3>
                    <h4>Group 1</h4>
                    <h4>T2203E</h4>
                    <h4>FPT-Aptech</h4>
                    <h4>ToanCNTH2203014@fpt.edu.vn</h4>
                    <img style="height: 195px;border: 1px solid #333333; border-radius: 10px"   src="../image/chongoctoan.jpg"/>
                </div>
                <div class="col-md-3 columabout" >
                    <h3> Nguyễn Thị Hà</h3>
                    <h4>Group 1</h4>
                    <h4>T2203E</h4>
                    <h4>FPT-Aptech</h4>
                    <h4>HaNTTH2203018@fpt.edu.vn.</h4>
                    <img style="height: 195px;border: 1px solid #333333; border-radius: 10px"   src="../image/nguyenthiha.jpg"/>
                </div>
                <div class="col-md-3 columabout" >
                    <h3>Nguyễn Tuấn Anh</h3>
                    <h4>Group 1</h4>
                    <h4>T2203E</h4>
                    <h4>FPT-Aptech</h4>
                    <h4>AnhNTTH2203010@fpt.edu.vn</h4>
                    <img style="height: 195px;border: 1px solid #333333; border-radius: 10px"   src="../image/nguyentuananh.jpg"/>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
                <h1 style="color: #CEA152">MAP</h1>
                <hr/>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.101399427076!2d105.77964371488338!3d21.028628385998474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ecb92db%3A0x3964e6238a3bd088!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1660374429344!5m2!1sen!2s" width="100%" height="500" style="border-top-right-radius: 40px; border-bottom-left-radius: 40px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</section>
<%- include("footer.ejs") %>

<script src="../js/jquery.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>



</body>
</html>